#coutries-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:15px;
}

.country{
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    border: 2px solid salmon;
    border-radius: 15px;
}
    